div {
  /*侧边栏样式*/
}
div .aside_bg {
  width: 40px;
  height: 180px;
  background: #7f7f7f;
  position: fixed;
  top: 50%;
  right: 0;
}
div .aside {
  position: fixed;
  top: 50%;
  right: 0;
}
div .aside .aside_icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  cursor: pointer;
}
div .aside .aside_icon .aside_contact {
  width: 40px;
  height: 40px;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #7f7f7f;
  color: #fff;
}
div .aside .aside_icon .aside_contact img {
  display: inline-block;
  margin: auto 5px;
  width: 30px;
  height: 30px;
}
div .aside .aside_icon .aside_contact span {
  display: inline-block;
  margin-right: 5px;
  width: 64px;
}
