/*盒子样式*/
/*a链接样式*/
/*列表样式*/
/*标题样式*/
/*小标题*/
/*小标题框样式*/
/*文字内容样式*/
div {
  /*关于公司*/
  /*业务体系*/
  /*优秀作品*/
  /*人才共享*/
  /*新闻动态*/
}
div .firmPc .firmContent {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  /*左边*/
  /*右边公司介绍*/
}
div .firmPc .firmContent .firmPcLeft {
  width: 40%;
  margin: auto;
  text-align: center;
  background-color: #fff;
}
div .firmPc .firmContent .firmPcLeft .detail {
  width: 100%;
  /*大标题*/
  /*小标题*/
  /*内容*/
}
div .firmPc .firmContent .firmPcLeft .detail h3 {
  margin: auto;
  font-size: 3.5rem;
  color: #4287d5;
  width: 28.6rem;
  height: 4rem;
  line-height: 4rem;
  text-align: left;
  text-indent: 10rem;
  border-bottom-width: 31rem;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}
div .firmPc .firmContent .firmPcLeft .detail .subtitle {
  width: 28.6rem;
  margin: auto;
}
div .firmPc .firmContent .firmPcLeft .detail .subtitle h6 {
  margin: auto;
  font-size: 1.4rem;
  color: #666666;
  text-align: center;
  line-height: 2rem;
}
div .firmPc .firmContent .firmPcLeft .detail .substance {
  width: 70%;
  font-size: 1.6px;
  color: #333333;
  text-align: justify;
  text-indent: 30px;
  margin: auto;
  margin-top: 2rem;
}
div .firmPc .firmContent .firmPcLeft .more {
  margin-top: 3.1rem;
}
div .firmPc .firmContent .firmPcRight {
  width: 60%;
  margin: auto;
  margin-top: -20rem;
  z-index: 1;
}
div .firmPc .firmContent .firmPcRight .detail {
  width: 80%;
  background-color: #fff;
}
div .firmPc .firmContent .firmPcRight .detail h5 {
  width: 28.6rem;
  margin: auto 4rem;
  padding-top: 2rem;
  font-size: 2rem !important;
  text-align: center;
  color: #000 !important;
}
div .firmPc .firmContent .firmPcRight .detail p {
  width: 28.6rem;
  margin: 2rem auto;
  font-size: 1.6rem;
  color: #333;
  text-indent: 3rem;
  text-align: justify;
}
div .firmPc .firmContent .firmPcRight .pic {
  width: 50%;
  height: 25rem;
  margin: auto;
  margin-top: 25rem;
  border: 1px solid #c0d7f1;
}
div .firmPc .firmContent .firmPcRight .pic img {
  width: 100%;
  margin: 2rem;
}
div .service {
  width: 100%;
  height: 60rem;
  background-image: url(../img/bg2_02.png);
  background-size: 100%;
}
div .service .opration {
  width: 80%;
  height: 40rem;
  margin: auto;
  margin-top: 3rem;
  /*小标题*/
}
div .service .opration .subtitle {
  padding-top: 5rem;
  width: 28.6rem;
  margin: auto;
}
div .service .opration .subtitle h3 {
  margin: auto;
  font-size: 3.5rem;
  color: #fff;
  width: 28.6rem;
  height: 4rem;
  line-height: 4rem;
  text-align: left;
  text-indent: 10rem;
  border-bottom-width: 31rem;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}
div .service .opration .subtitle h6 {
  margin: auto;
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
  line-height: 2rem;
  border-right: 1px solid #eee;
}
div .service .opration .oprationInfo {
  width: 85%;
  margin: auto;
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div .service .opration .oprationInfo .o-link {
  width: 9rem;
  height: 12rem;
}
div .service .opration .oprationInfo .o-link .icon {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  text-align: center;
  margin: auto;
  background-color: #fff;
}
div .service .opration .oprationInfo .o-link .icon a {
  width: 100%;
  height: 100%;
  line-height: 8rem;
}
div .service .opration .oprationInfo .o-link .icon a img {
  width: 50%;
}
div .service .opration .oprationInfo .o-link .i-active {
  background-color: #4287d5;
}
div .service .opration .oprationInfo .o-link p {
  text-align: center;
  margin: 4rem auto;
  font-size: 2rem;
  color: #fff;
}
div .worksPc {
  width: 80%;
  margin: auto;
  /*标题*/
  /*优秀作品导航链接*/
}
div .worksPc .title {
  width: 50%;
  margin-top: -8rem;
  background: #fff;
  /*大标题*/
  /*小标题*/
}
div .worksPc .title h3 {
  margin: auto;
  font-size: 3.5rem;
  color: #4287d5;
  width: 28.6rem;
  height: 4rem;
  line-height: 4rem;
  text-align: left;
  text-indent: 10rem;
  border-bottom-width: 31rem;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}
div .worksPc .title .subtitle {
  width: 28.6rem;
  margin: auto;
}
div .worksPc .title .subtitle h6 {
  margin: auto;
  font-size: 1.4rem;
  color: #666666;
  text-align: center;
  line-height: 2rem;
}
div .worksPc ul {
  height: 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem auto;
}
div .worksPc ul li {
  background-color: #f5f5f5;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 2rem;
}
div .worksPc ul li a {
  text-decoration: none;
  display: block;
  font-size: 1.6rem;
  color: #333333;
  padding: 0.5rem;
}
div .worksPc ul li .workLink {
  color: #fff;
  background: #313131;
}
div .worksPc ul li:last-child {
  margin-left: auto;
}
div .worksPc ul li:hover {
  background-color: #313131;
}
div .worksPc ul li:hover a {
  color: #fff;
}
div .worksPc .workDetail {
  width: 100%;
  padding: 1rem;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div .worksPc .workDetail .work {
  width: 30%;
  text-align: center;
  color: #333;
  font-size: 0.5rem;
  background: #eee;
}
div .worksPc .workDetail .work img {
  width: 90%;
  padding-top: 1rem;
  margin: auto;
}
div .worksPc .workDetail .work p {
  padding: 1rem;
}
div .worksPc .workDetail .work:hover {
  background: #313131;
  color: #fff;
}
div .worksPc .workDetail .w-active {
  background: #313131;
  color: #fff;
}
div .personnel {
  width: 100%;
  height: 40rem;
  background-image: url(../img/bg3_02.png);
  background-size: 100%;
}
div .personnel .personPc {
  width: 80%;
  margin: auto;
  /*标题*/
  /*人才信息*/
  /*轮播下标*/
}
div .personnel .personPc .title {
  /*大标题*/
  /*小标题*/
}
div .personnel .personPc .title h3 {
  margin: auto;
  font-size: 3.5rem;
  color: #fff;
  width: 28.6rem;
  height: 4rem;
  line-height: 4rem;
  text-align: left;
  text-indent: 10rem;
  border-bottom-width: 31rem;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}
div .personnel .personPc .title .subtitle {
  width: 28.6rem;
  margin: auto;
}
div .personnel .personPc .title .subtitle h6 {
  margin: auto;
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
  line-height: 2rem;
}
div .personnel .personPc .pList {
  width: 90%;
  height: 20rem;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
div .personnel .personPc .pList .pInfo {
  width: 30%;
  margin: 2rem auto;
}
div .personnel .personPc .pList .pInfo a {
  width: 100%;
  height: 13rem;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
div .personnel .personPc .pList .pInfo a img {
  width: 90%;
}
div .personnel .personPc .pList .pInfo p {
  width: 90%;
  text-align: center;
  position: relative;
  top: -5rem;
  margin: auto;
  height: 3.6rem;
  line-height: 3.6rem;
  background: #333;
  color: #fff;
  display: none;
}
div .personnel .personPc .pList .pAction {
  margin-top: 5.5rem;
}
div .personnel .personPc .pList .pAction a {
  width: 100%;
  height: 13rem;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
div .personnel .personPc .pList .pAction a img {
  transform: scale(1.5);
}
div .personnel .personPc .pList .pAction p {
  display: block;
  transform: scale(1.5);
  top: -3.1rem;
  background: #333;
  color: #fff;
}
div .personnel .personPc ul {
  width: 26rem;
  margin: auto !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
div .personnel .personPc ul li {
  width: 7rem;
  border-bottom: 2px solid #fff;
}
div .personnel .personPc ul .active {
  border-bottom-color: #4287d5;
}
div .newsPc {
  width: 80%;
  margin: auto;
  /*标题*/
}
div .newsPc .title {
  width: 50%;
  margin-top: -8rem;
  background: #fff;
  /*大标题*/
  /*小标题*/
}
div .newsPc .title h3 {
  margin: auto;
  font-size: 3.5rem;
  color: #4287d5;
  width: 28.6rem;
  height: 4rem;
  line-height: 4rem;
  text-align: left;
  text-indent: 10rem;
  border-bottom-width: 31rem;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}
div .newsPc .title .subtitle {
  width: 28.6rem;
  margin: auto;
}
div .newsPc .title .subtitle h6 {
  margin: auto;
  font-size: 1.4rem;
  color: #666666;
  text-align: center;
  line-height: 2rem;
}
div .newsPc .newsNav ul {
  padding-top: 1rem;
  height: 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 1rem auto;
}
div .newsPc .newsNav ul li {
  background-color: #f5f5f5;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 2rem;
}
div .newsPc .newsNav ul li a {
  text-decoration: none;
  display: block;
  font-size: 1.6rem;
  color: #333333;
  padding: 0.5rem;
}
div .newsPc .newsNav ul li .newLink {
  color: #fff;
  background: #313131;
}
div .newsPc .newsNav ul li:last-child {
  margin-left: auto;
}
div .newsPc .newsNav ul li:hover {
  background-color: #313131;
}
div .newsPc .newsNav ul li:hover a {
  color: #fff;
}
div .newsPc .newsInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div .newsPc .newsInfo .newInfo {
  width: 30%;
  margin: 1rem;
}
div .newsPc .newsInfo .newInfo .newContent {
  width: 90%;
}
div .newsPc .newsInfo .newInfo .newContent a img {
  width: 100%;
}
